:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Spartan";
  font-size: 15px;
  margin: 0px;
  background-image: url(./images/bg-pattern-top-desktop.svg);

  background-repeat: no-repeat;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "A A A A A B B B B B B B"
    "A A A A A B B B B B B B"
    "A A A A A B B B B B B B"
    "A A A A A B B B B B B B"
    "A A A A A B B B B B B B"
    "A A A A A B B B B B B B"
    "C C C C C C C C C C C C"
    "C C C C C C C C C C C C"
    "C C C C C C C C C C C C"
    "C C C C C C C C C C C C"
    "C C C C C C C C C C C C"
    "C C C C C C C C C C C C";
  row-gap: ;
}

.mainbox {
  grid-area: A;
  padding: 129px 0px 48px 165px;
}

.mainbox-title {
  font-size: 47px;
  font-weight: 700;
  color: var(--Very-Dark-Magenta);
}

.mainbox-text {
  color: var(--Dark-Grayish-Magenta);
  font-size: 20px;
}

.rating {
  grid-area: B;
  justify-self: center;
  padding: 129px 167px 87px 140px;
  color: var(--Very-Dark-Magenta);
  font-weight: 500;
}

.rating-one {
  background-color: var(--light-grayish-magenta);
  margin: 48px;
  width: 445px;
  text-align: center;
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 9px;
}

.rating-two {
  background-color: var(--light-grayish-magenta);
  margin: 48px;
  width: 445px;
  text-align: center;
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  transform: translate(65px);
  border-radius: 9px;
}

.rating-three {
  background-color: var(--light-grayish-magenta);
  margin: 48px;
  width: 445px;
  text-align: center;
  display: flex;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  transform: translate(130px);
  border-radius: 9px;
}

.testimonial {
  grid-area: C;
  display: flex;
  padding: 55px 167px 211px 129px;
}

.testimonial-one {
  background-color: var(--Very-Dark-Magenta);
  margin: 31px;
  padding: 20px;
  border-radius: 5px;
}

.testimonial-one_image {
  position: absolute;
  border-radius: 45px;
}

.testimonial-one_name {
  text-align: center;
  color: var(--light-grayish-magenta);
  font-size: 20px;
}

.testimonial-one_title {
  text-align: center;
  color: var(--Soft-Pink);
  font-size: 20px;
  font-weight: 400;
}

.testimonial-one_excerpt {
  color: var(--light-grayish-magenta);
  padding: 29px 36px 44px 36px;
  margin: 0px;
}

.testimonial-two {
  background-color: var(--Very-Dark-Magenta);
  margin: 31px;
  padding: 20px;
  border-radius: 5px;
  transform: translate(0px, 20px);
}

.testimonial-two_image {
  position: absolute;
  border-radius: 45px;
}

.testimonial-two_name {
  text-align: center;
  color: var(--light-grayish-magenta);
  font-size: 20px;
}

.testimonial-two_title {
  text-align: center;
  color: var(--Soft-Pink);
  font-size: 20px;
  font-weight: 400;
}

.testimonial-two_excerpt {
  color: var(--light-grayish-magenta);
  padding: 29px 36px 44px 36px;
  margin: 0px;
}

.testimonial-three {
  background-color: var(--Very-Dark-Magenta);
  margin: 31px;
  padding: 20px;
  border-radius: 5px;
  transform: translate(0px, 40px);
}

.testimonial-three_image {
  position: absolute;
  border-radius: 45px;
}

.testimonial-three_name {
  text-align: center;
  color: var(--light-grayish-magenta);
  font-size: 20px;
}

.testimonial-three_title {
  text-align: center;
  color: var(--Soft-Pink);
  font-size: 20px;
  font-weight: 400;
}

.testimonial-three_excerpt {
  color: var(--light-grayish-magenta);
  padding: 29px 36px 44px 36px;
  margin: 0px;
}
@media only screen and (max-width: 1024px) {
  .container {
    grid-auto-flow: column;
  }

  .rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rating-one {
    display: flex;
    flex-direction: column;
  }

  .rating-two {
    display: flex;
    flex-direction: column;
  }

  .rating-three {
    display: flex;
    flex-direction: column;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
  }

  container {
    -ms-overflow-style: none;
  }
}
