:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Spartan";
  font-size: 15px;
  margin: 8px;
}

.row-one {
  display: flex;
}

.mainbox {
  margin: 0px;
  padding: 125px 71px 37px 165px;
}

.mainbox-title {
  font-size: 47px;
  font-weight: 700;
}

.mainbox-text {
}

.testimonial {
  display: flex;
}

.testimonial-one {
  background-color: var(--Very-Dark-Magenta);
  margin: 15px;
}

.testimonial-two {
  background-color: var(--Very-Dark-Magenta);
  margin: 15px;
}

.testimonial-three {
  background-color: var(--Very-Dark-Magenta);
  margin: 15px;
}

.rating {
  background-color: var(--light-grayish-magenta);
  padding: 125px 165px 103px 71px;
}

.rating-one {
}
